@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=Homemade%20Apple);

/* ------------------------CSS For All Pages------------------------------- */
/* background */
.background {
    background-color: #7d9b76;
 }

 /* navigation bar */
 .nav-bar ul {
    text-align: center;
    padding-top: .5%;
 }

.nav-bar a {
    color: #f2f2f2;
    border: 1px solid #f6f6e9;
    border-width: 1px 0;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.6vw;
    margin: 15px;
}
  
.nav-bar a:hover {
    background-color: #f6f6e9;
    color: #052512;
}
  
.nav-bar a.active {
    background-color: #04AA6D;
    color: white;
}

/* ------------------------CSS For Home Page------------------------------- */
/* background image */
.main-background {
    /*background-color: #7d9b76;*/
    background-image: url(images/background.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
 }

/* main page headline text */
.main-headline-container {
    position:relative;
    width:90vw;
    height: 90vh;
    margin: auto;
}

.main-headline-element {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 70vh;

    display: grid;
    grid-template-columns: 50% 50%;
}

.main-headline {
    width: 100%;
    overflow: hidden;
    font-size: 2.2vw;
    color: #052512;;
    margin-left: 10%;
    margin-top: 12%;
}
  
.main-headline h1 {
    animation: 3s main-headline;
}
  
@keyframes main-headline {
    from {
        margin-left: -50%;
        width: 300%;
    }
    to {
        margin-left: 0%;
    }
}

/* main page polaroid image */
#polaroid {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#polaroid-selfie {
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    margin-top: 5%;
}

#polaroid-selfie img{
    width: 88%;
    border: 2px groove #052512;
}

#polaroid-name {
    font-size: 1.7vw;
    font-family: 'Homemade Apple';
    margin-bottom: -.5%;
    margin-top: 3%;
}

/* ----------------------CSS For About Me Page----------------------------- */
/*about me heading and phrases*/
#aboutMe-container {
    background-color: rgba(189, 197, 228, 0.52);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}

#aboutMe-intro {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#i-am h1 {
    text-align: center;
    font-size: 450%;
    color: #052512;
    letter-spacing: 8px;
    font-family: "Sofia";
}

#i-am h2 {
    text-align: center;
    font-size: 155%;
    color: white;
    margin-bottom: -1%;
    font-family: 'Average Sans';
    letter-spacing: 1px;
}

#i-am {
    text-align: center;
    padding-left: 3%;
}

#i-am-para {
    color: white;
    text-align: center;
    font-family: 'Average Sans';
}

#i-am-phrase {
    color: white;
    font-size: 25px;
    display: inline-flex;
}

#phrases {
    display: inline-block;
    vertical-align: middle;
    color: #052512;
    font-family: 'Average Sans';
}

/* fact section */
#quick-fact-container {
    background-color: #052512;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 5%;
    padding: 2% 3%;
    display: flex;
}

#quick-fact-div {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#quick-fact-heading {
    color: white;
    font-family: 'Average Sans';
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 2px;
    text-align: center;
}

#quick-fact-bio {
    color: white;
    text-align: left;
    font-family: 'Average Sans';
    font-size: 20px;
}

#school-fact li{
    margin-top: 5%;
    font-size: 23px;
    color: white;
    margin-left: 15%;
    text-align: left;
    line-height: 40px;
}

/* gallery */
#gallery {
    padding: 5%;
    background-color: rgba(189, 197, 228, 0.52);
    margin: 5%;
    text-align: center;
}

#gallery-heading {
    color: #052512;
    font-family: 'Sofia';
    margin-top: -4%;
    text-align: center;
    font-size: 300%;
    letter-spacing: 5px;
}

#below-gallery-heading {
    color: #052512;
    font-family: 'Sofia';
    margin-top: -2%;
    text-align: center;
    font-size: 120%;
}

#column {
    margin: 10px;
    box-shadow: 0 0 5px 1px #46494a;
}

#column img {
    width: 100%;
    display: block;
}

#allbox {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0% -5% -4%;
}

/* ---------------------CSS For Experience Page---------------------------- */
#project-container {
    margin-right: -8px;
    margin-left: -8px;
}

#project-grid {
    /*display: grid;
    grid-template-columns: auto auto auto; */
    margin: 5%;
    text-align: center;
    border: 1.5px solid #052512;
    background-color: rgba(246, 246, 233, 0.47);
    padding-top: 2%;
    padding-bottom: 2%;
    display: inline-flex;
}

#side-title {
    font-family: 'Belgrano';
    font-size: 140%;
    color: white;
    margin: auto;
    padding: 10px;
    background: #052512;
}

#grid-inside {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    border-radius: 5px;
    margin: 0px 20px 0px 20px;
    background-color: #ffffffd4;
    padding-bottom: 1.5px;
}

#grid-pic {
    width: 275px;
    height: 173px;
}

.gif {
    pointer-events: none;
}

#project-titles {
    color: #052512;
    font-size: 20px;
    text-align: center;
    font-family: 'Average Sans';
    display: inline-flex;
}

#project-type {
    margin-left: 2%;
    color: #052512;
    font-size: 15px;
    text-align: center;
    font-family: 'Average Sans';
    display: inline-flex;
}

#proj-description {
    color: #052512;
    font-size: 15px;
    font-family: 'Average Sans';
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#proj-links {
    color: #0244ff;
}

#work-programs-container {
    display: grid;
    grid-template-columns: auto auto;
}

#work-grid {
    margin: 5%;
    text-align: center;
    border: 1.5px solid #052512;
    background-color: rgba(189, 197, 228, 0.47);
    padding-top: 2%;
    padding-bottom: 2%;
}

#top-title {
    font-family: 'Belgrano';
    font-size: 140%;
    color: white;
    margin-top: -2.5%;
    padding: 4px;
    background: #052512;
}

#job-title {
    text-align: left;
    color: #052512;
    font-family: 'Average Sans';
    padding-left: 10px;
    padding-top: 5px;
    font-size: 105%;
    letter-spacing: 1px;
}

#time {
    text-align: left;
    color: #052512;
    font-family: 'Average Sans';
    padding-left: 10px;
    font-size: 90%;
    margin-top: -3%;
}

#time-c {
    text-align: left;
    color: #052512;
    font-family: 'Average Sans';
    padding-left: 10px;
    font-size: 90%;
    margin-top: -1%;
}

#job-description {
    text-align: left;
    color: #052512;
    font-family: 'Average Sans';
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    
}

#job-duties {
    text-align: left;
    color: #052512;
    font-family: 'Average Sans';
    line-height: 1.5;
    padding-right: 35px;
}

#googlePic {
    margin: 5px;
    width: 257px;
    height: 170px;
}

#proj-pics {
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-left: -5%;
}

#proj-pics figure {
    margin: auto;
    width: 220px;
    padding: 10px;
}

#proj-pics figure img {
    border-radius: 45%;
    width: 140%;  
}